.navbar-custom {
    background-color: #69ceec;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
body{
    background-color:#ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}
.lh-140{
    line-height: 1.4;
}
.ls-002{
    letter-spacing: .1ch;
}

.search-lf{
    margin-left: auto;
}
.search-lf input{
    width: 400px;
    
}